add:
{
	"classname" "prop_dynamic"
	"origin" "-6634 -1159 385.61"
	"angles" "0 -15 0"
	"model" "models/props_vehicles/ambulance.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
    "model" "*59"
    "normal.z" "0.00"
    "normal.y" "1.00"
    "normal.x" "-0.00"
    "team" "2"
    "classname" "func_simpleladder"
    "origin" "-3906.00 -7059.00 -48.00"
    "angles" "0.00 270.00 0.00"
}
{
    "model" "*59"
    "normal.z" "0.00"
    "normal.y" "-0.00"
    "normal.x" "-1.00"
    "team" "0"
    "classname" "func_simpleladder"
    "origin" "-206.00 1108.00 -52.00"
    "angles" "0.00 720.00 0.00"
}
{
	"classname" "prop_dynamic"
	"origin" "-6235 -1149 395"
	"angles" "0 180 0"
	"model" "models/props_unique/metalladderbarge.mdl"
	"solid" "0"
	"disableshadows" "1"
}
; --- Remove traffic barrel in the event area that block the police car
filter:
{
	"hammerid" "941213"
}
{
	"hammerid" "941217"
}
{
	"origin" "-6873.58 -428.738 384.25"
}
{
	"origin" "-6999.58 -762.738 384.25"
}
{
	"origin" "-6953.58 -684.738 384.25"
}
{
	"origin" "-6897.58 -514.738 384.25"
}
{
	"origin" "-6919.58 -602.738 384.25"
}
{
	"hammerid" "8591"
}
{
	"OnTrigger" "maker_alarm_on-car1_alarmForceSpawn0.01-1"
}
modify:
{
	match:
	{
		"OnTrigger" "directorPanicEvent0.1-1"
	}
	delete:
	{
		"OnTrigger" "directorPanicEvent0.1-1"
	}
}
add:
;凉亭侧面挡板
{
	"classname" "prop_dynamic"
	"origin" "-8225.76 -1466.03 335"
	"angles" "0 1 0"
	"model" "models/props_urban/fence_cover001_128.mdl"
	"solid" "6"
	"disableshadows" "1"
}
;区域2头部货车
{
	"classname" "prop_dynamic"
	"origin" "-7754 -873 450"
	"angles" "0 90 0"
	"model" "models/props_vehicles/flatnose_truck_wrecked.mdl"
	"solid" "6"
	"disableshadows" "1"
}
;区域2头部货车-冰箱
{
	"classname" "prop_dynamic"
	"origin" "-7745 -971 420"
	"angles" "0 -20 0"
	"model" "models/props_unique/grocerystorechiller01.mdl"
	"solid" "6"
	"disableshadows" "1"
}
;区域2头部货车-对生还空气墙
{
	"classname" "env_physics_blocker"
	"origin" "-7700 -940 420"
	"angles" "0 255 0"
	"boxmins" "-100 0 -80"
	"boxmaxs" "130 10 444"
	"BlockType" "1"
	"initialstate" "1"
}
;区域2头部行李堆1
{
	"classname" "prop_dynamic"
	"origin" "-7527 -381 388"
	"angles" "0 0 0"
	"model" "models/props_unique/airport/luggage_pile1.mdl"
	"solid" "6"
	"disableshadows" "1"
}
;区域2头部行李堆1-对生还空气墙
{
	"classname" "env_physics_blocker"
	"origin" "-7527 -381 388"
	"angles" "0 360 0"
	"boxmins" "-80 -40 -80"
	"boxmaxs" "80 70 444"
	"BlockType" "1"
	"initialstate" "1"
}
;区域2头部货车-铁丝网缝隙
{
	"classname" "prop_dynamic"
	"origin" "-7733 -870 412.76"
	"angles" "0 -20 0"
	"model" "models/props_street/police_barricade.mdl"
	"solid" "6"
	"disableshadows" "1"
}
;{
;	"classname" "prop_dynamic"
;	"origin" "-7700 -880 412.76"
;	"angles" "0 -110 0"
;	"model" "models/props_street/police_barricade.mdl"
;	"solid" "6"
;	"disableshadows" "1"
;}
;区域分割挡板-直向
{
	"classname" "prop_dynamic"
	"origin" "-8344 -2942 380"
	"angles" "0 90 0"
	"model" "models/props_urban/fence_cover001_256.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-8588 -2940 380"
	"angles" "0 90 0"
	"model" "models/props_urban/fence_cover001_256.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-8825 -2940 380"
	"angles" "0 90 0"
	"model" "models/props_urban/fence_cover001_256.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-9075 -2942 380"
	"angles" "0 90 0"
	"model" "models/props_urban/fence_cover001_256.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-7673 -3284 380"
	"angles" "0 90 0"
	"model" "models/props_urban/fence_cover001_256.mdl"
	"solid" "6"
	"disableshadows" "1"
}
;-空气墙-直向
{
	"classname" "env_physics_blocker"
	"origin" "-9075 -2942 380"
	"angles" "0 0 0"
	"mins" "-200 0 -80"
	"maxs" "850 10 800"
	"BlockType" "1"
	"initialstate" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-7673 -3284 380"
	"angles" "0 0 0"
	"mins" "-300 0 -80"
	"maxs" "300 10 800"
	"BlockType" "1"
	"initialstate" "1"
}
;区域分割挡板-斜向
{
	"classname" "prop_dynamic"
	"origin" "-8127 -3032 380"
	"angles" "0 45 0"
	"model" "models/props_urban/fence_cover001_256.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-7990 -3170 380"
	"angles" "0 45 0"
	"model" "models/props_urban/fence_cover001_128.mdl"
	"solid" "6"
	"disableshadows" "1"
}
;-空气墙-斜向
{
	"classname" "env_physics_blocker"
	"origin" "-8127 -3032 380"
	"angles" "0 315 0"
	"boxmins" "-125 0 -80"
	"boxmaxs" "400 10 800"
	"BlockType" "1"
	"initialstate" "1"
}
;广告牌实心底
{
	"classname" "prop_dynamic"
	"origin" "-7626 -286 740"
	"angles" "90 0 0"
	"model" "models/props_urban/fence_cover001_256.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-7626 -286 740"
	"angles" "90 0 180"
	"model" "models/props_urban/fence_cover001_256.mdl"
	"solid" "6"
	"disableshadows" "1"
}
;区域2医疗车
{
	"classname" "prop_dynamic"
	"origin" "-8700 -1620 383.03"
	"angles" "0 70 0"
	"model" "models/props_vehicles/ambulance.mdl"
	"solid" "6"
	"disableshadows" "1"
}
;区域2调整铁的位置
modify:
{
	match:
	{
		"origin" "-8323.48 -1906.52 384.25"
	}
	replace:
	{
		"origin" "-9176 -2164.13 384.25"
		"angles" "0 90 0"
	}
}
{
	match:
	{
		"origin" "-8320 -2016 384.25"
	}
	replace:
	{
		"origin" "-9176 -2094.58 384.25"
		"angles" "0 90 0"
	}
}
;调整可乐店正上方位置的空气墙
filter:
{
	"hammerid" "9025"
}
add:
{
	"classname" "env_player_blocker"
	"origin" "-6576 -2496 616"
	"initialstate" "1"
	"mins" "-64 -256 -80"
	"maxs" "64 256 856"
	"BlockType" "1"
}
filter:
{
	"hammerid" "8878"
}
add:
{
	"classname" "env_player_blocker"
	"origin" "-6408 -3288 584"
	"initialstate" "1"
	"mins" "-376 -24 -80"
	"maxs" "376 24 888"
	"BlockType" "1"
}
filter:
{
	"hammerid" "8440"
}
{
	"hammerid" "8588"
}
;c4s2ghost专用复活位
add:
;安全室内附近1
{
	"classname" "env_physics_blocker"
	"origin" "907 4736 510"
	"targetname" "SpawnPoint_1"
	"angles" "0 0 0"
	"mins" "-1 0 -1"
	"maxs" "1 1 1"
	"BlockType" "1"
	"initialstate" "0"
}
;安全室附近2
{
	"classname" "env_physics_blocker"
	"origin" "2411 3861 596"
	"targetname" "SpawnPoint_2"
	"angles" "0 0 0"
	"mins" "-1 0 -1"
	"maxs" "1 1 1"
	"BlockType" "1"
	"initialstate" "0"
}
;街道帐篷后方1
{
	"classname" "env_physics_blocker"
	"origin" "3579 2749 506"
	"targetname" "SpawnPoint_3"
	"angles" "0 0 0"
	"mins" "-1 0 -1"
	"maxs" "1 1 1"
	"BlockType" "1"
	"initialstate" "0"
}
;街道帐篷附近
{
	"classname" "env_physics_blocker"
	"origin" "732 2604 608"
	"targetname" "SpawnPoint_4"
	"angles" "0 0 0"
	"mins" "-1 0 -1"
	"maxs" "1 1 1"
	"BlockType" "1"
	"initialstate" "0"
}
;配电室内
{
	"classname" "env_physics_blocker"
	"origin" "-791 3442 190"
	"targetname" "SpawnPoint_5"
	"angles" "0 0 0"
	"mins" "-1 0 -1"
	"maxs" "1 1 1"
	"BlockType" "1"
	"initialstate" "0"
}
;桥底道路尽头A
{
	"classname" "env_physics_blocker"
	"origin" "-1161 4969 245"
	"targetname" "SpawnPoint_6"
	"angles" "0 0 0"
	"mins" "-1 0 -1"
	"maxs" "1 1 1"
	"BlockType" "1"
	"initialstate" "0"
}
;桥底道路尽头B
{
	"classname" "env_physics_blocker"
	"origin" "-1719 482 114"
	"targetname" "SpawnPoint_7"
	"angles" "0 0 0"
	"mins" "-1 0 -1"
	"maxs" "1 1 1"
	"BlockType" "1"
	"initialstate" "0"
}
;警车-铁丝网附近
{
	"classname" "env_physics_blocker"
	"origin" "-2235 1816 62"
	"targetname" "SpawnPoint_8"
	"angles" "0 0 0"
	"mins" "-1 0 -1"
	"maxs" "1 1 1"
	"BlockType" "1"
	"initialstate" "0"
}
;配电室2入口附近
{
	"classname" "env_physics_blocker"
	"origin" "-3231 2087 190"
	"targetname" "SpawnPoint_9"
	"angles" "0 0 0"
	"mins" "-1 0 -1"
	"maxs" "1 1 1"
	"BlockType" "1"
	"initialstate" "0"
}
;配电室2出口桥底
{
	"classname" "env_physics_blocker"
	"origin" "-4098 2326 126"
	"targetname" "SpawnPoint_10"
	"angles" "0 0 0"
	"mins" "-1 0 -1"
	"maxs" "1 1 1"
	"BlockType" "1"
	"initialstate" "0"
}
;人行天桥入口附近
{
	"classname" "env_physics_blocker"
	"origin" "-5425 699 446"
	"targetname" "SpawnPoint_11"
	"angles" "0 0 0"
	"mins" "-1 0 -1"
	"maxs" "1 1 1"
	"BlockType" "1"
	"initialstate" "0"
}
;人行天桥中心
{
	"classname" "env_physics_blocker"
	"origin" "-5130 -311 734"
	"targetname" "SpawnPoint_12"
	"angles" "0 0 0"
	"mins" "-1 0 -1"
	"maxs" "1 1 1"
	"BlockType" "1"
	"initialstate" "0"
}
;枪店出口楼梯附近
{
	"classname" "env_physics_blocker"
	"origin" "-4995 -2072 518"
	"targetname" "SpawnPoint_13"
	"angles" "0 0 0"
	"mins" "-1 0 -1"
	"maxs" "1 1 1"
	"BlockType" "1"
	"initialstate" "0"
}
;可乐店入口附近
{
	"classname" "env_physics_blocker"
	"origin" "-6216 -3087 447"
	"targetname" "SpawnPoint_14"
	"angles" "0 0 0"
	"mins" "-1 0 -1"
	"maxs" "1 1 1"
	"BlockType" "1"
	"initialstate" "0"
}
;碎墙后
{
	"classname" "env_physics_blocker"
	"origin" "-7004 -219 446"
	"targetname" "SpawnPoint_15"
	"angles" "0 0 0"
	"mins" "-1 0 -1"
	"maxs" "1 1 1"
	"BlockType" "1"
	"initialstate" "0"
}
;区域2帐篷附近
{
	"classname" "env_physics_blocker"
	"origin" "-8973 -2352 446"
	"targetname" "SpawnPoint_16"
	"angles" "0 0 0"
	"mins" "-1 0 -1"
	"maxs" "1 1 1"
	"BlockType" "1"
	"initialstate" "0"
}
;额外的梯子
add:
{
    "model" "*64"
    "normal.z" "0.00"
    "normal.y" "-1.00"
    "normal.x" "0.00"
    "team" "0"
    "classname" "func_simpleladder"
    "origin" "2418.00 1665.00 -405.00"
    "angles" "0.00 0.00 0.00"
}
{
	"classname" "prop_dynamic"
	"origin" "-4105 2180 80"
	"angles" "0 270 0"
	"model" "models/props_unique/metalladderbarge.mdl"
	"solid" "0"
	"disableshadows" "1"	
}
{
	"classname" "prop_dynamic"
	"origin" "-4105 2180 208"
	"angles" "0 270 0"
	"model" "models/props_unique/metalladderbarge.mdl"
	"solid" "0"
	"disableshadows" "1"	
}
;封死安全门1
{
	"origin" "2321.00 4940.00 450.00"
	"classname" "prop_dynamic"
	"angles" "0 90 0"
	"model" "models/props_urban/fence_cover001_256.mdl"
	"solid" "6"
	"disableshadows" "1"
}
;封死安全门2
{
	"origin" "-7474.00 -4588.00 380.00"
	"classname" "prop_dynamic"
	"angles" "0 90 0"
	"model" "models/props_urban/fence_cover001_256.mdl"
	"solid" "6"
	"disableshadows" "1"
}
;天桥增加物
add:
{
	"classname" "prop_dynamic_override"
	"origin" "-5164.00 518.00 674.00"
	"angles" "0 0 0"
	"model" "models/props_junk/dumpster_2.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic_override"
	"origin" "-5164 518.00 728.00"
	"angles" "0 0 0"
	"model" "models/props_junk/dumpster_2.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic_override"
	"origin" "-5085 -63 674.00"
	"angles" "0 0 0"
	"model" "models/props_junk/dumpster_2.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic_override"
	"origin" "-5085 -63 728.00"
	"angles" "0 0 0"
	"model" "models/props_junk/dumpster_2.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic_override"
	"origin" "-5167 -636 674.00"
	"angles" "0 0 0"
	"model" "models/props_junk/dumpster_2.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic_override"
	"origin" "-5167 -636 728.00"
	"angles" "0 0 0"
	"model" "models/props_junk/dumpster_2.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic_override"
	"origin" "-3968.00 1881.00 150.00"
	"angles" "0 180 0"
	"model" "models/props_mall/mall_escalator2.mdl"
	"solid" "6"
	"disableshadows" "1"	
}
{
	"classname" "prop_dynamic_override"
	"origin" "1389.00 2463.00 619.00"
	"angles" "45 0 0"
	"model" "models/props_highway/plywood_01.mdl"
	"solid" "6"
	"disableshadows" "1"	
}
{
	"classname" "prop_dynamic_override"
	"origin" "1440.00 2462.50 568.00"
	"angles" "45 0 0"
	"model" "models/props_highway/plywood_01.mdl"
	"solid" "6"
	"disableshadows" "1"	
}
{
	"classname" "prop_dynamic_override"
	"origin" "1310.00 2460.00 680.00"
	"angles" "45 0 0"
	"model" "models/props_highway/plywood_01.mdl"
	"solid" "6"
	"disableshadows" "1"	
}
{
	"classname" "prop_dynamic_override"
	"origin" "-2217.60 1270.00 5.00"
	"angles" "45 270 0"
	"model" "models/props_doors/shackwall01.mdl"
	"solid" "6"
	"disableshadows" "1"	
}
{
	"classname" "prop_dynamic_override"
	"origin" "-2217.6 1190 85"
	"angles" "45 270 0"
	"model" "models/props_doors/shackwall01.mdl"
	"solid" "6"
	"disableshadows" "1"	
}
{
	"classname" "prop_dynamic_override"
	"origin" "-4279.00 2047.00 98.00"
	"angles" "0 0 90"
	"model" "models/props_doors/shackwall01.mdl"
	"solid" "6"
	"disableshadows" "1"	
}
{
	"classname" "prop_dynamic_override"
	"origin" "-4380.00 1940.00 102.00"
	"angles" "0 90 90"
	"model" "models/props_doors/shackwall01.mdl"
	"solid" "6"
	"disableshadows" "1"	
}
{
	"classname" "prop_dynamic_override"
	"origin" "-4276.00 2567.00 100.00"
	"angles" "0 0 0"
	"model" "models/props_doors/shackwall01.mdl"
	"solid" "6"
	"disableshadows" "1"	
}
{
	"classname" "prop_dynamic_override"
	"origin" "-5200.00 1020.00 425.00"
	"angles" "0 0 90"
	"model" "models/props_doors/shackwall01.mdl"
	"solid" "6"
	"disableshadows" "1"	
}
{
	"classname" "prop_dynamic_override"
	"origin" "-4375.00 2175.00 255.00"
	"angles" "0 90 90"
	"model" "models/props_doors/shackwall01.mdl"
	"solid" "6"
	"disableshadows" "1"	
}
{

	"classname" "env_physics_blocker"
	"origin" "-6972 -1091 591"
	"angles" "0 0 0"
	"mins" "-75 -75 -60"
	"maxs" "75 75 150"
	"BlockType" "1"
	"initialstate" "1"
}